@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Orbit&family=Work+Sans:wght@100;300;400;600;800&display=swap');

/* MENU */
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{ /* Esto me va a permitir avanzar cuando hago click en los links del menú */
    scroll-behavior: smooth;
}
.contenedor-header { /* Revisar los cambios en el background del menú */
    background: var(--bg);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;   
}
.contenedor-header header{ /* Revisar los cambios en el menu */
	max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
}
.contenedor-header header .logo a{ /* Revisa los cambios en el logo del grupo */
    font-family: 'Orbit';
    font-size: 36px;
    color: #ffcc81;
    text-decoration: none;
}
.contenedor-header header ul{ /* Cambiamos el diseño natural del menú (vertical) y lo pasamos a una forma horizontal */
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{ /* Detalles del menú*/
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{ /* Aplicamos un hover */
    color: #ffcc81;
}
.nav-responsive{ /* Las barras que pusimos en nav-responsive toman los colores y nuestro mause cambia al pasar encima y por último lo hacemos desaparecer*/ 
    background-color: #f44336;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* INICIO */

:root { /* Todo el fondo de la pantalla estará decorada con un cambio de luces */
  --bg: #1a1e2d;
  --green: #a5ea9b;
  --pink: #ff61d8;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
}
body {
	height: 100vh;
	width: 100vw;
	background: var(--bg);
	display: grid;
	grid-template-rows: 1fr 10rem auto;
	grid-template-areas: "main" "." "footer";
	overflow-x: hidden;
	min-height: 100vh;
	font-family: "Open Sans", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  place-content: center;
}
.container svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}

#bongo-cat {
  fill: var(--bg);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
}
#bongo-cat .laptop-cover,
#bongo-cat .headphone .band {
  fill: none;
}
#bongo-cat .paw, #bongo-cat .head {
  stroke: var(--orange);
}
#bongo-cat .laptop-keyboard {
  stroke-width: 2;
}
#bongo-cat .terminal-code {
  stroke-width: 5;
}
#bongo-cat .music .note,
#bongo-cat .laptop-base,
#bongo-cat .laptop-cover,
#bongo-cat .paw .pads {
  stroke: var(--pink);
}
#bongo-cat .table line,
#bongo-cat .headphone .band,
#bongo-cat .headphone .speaker path:nth-child(3) {
  stroke: var(--green);
}
#bongo-cat .terminal-frame,
#bongo-cat .laptop-keyboard,
#bongo-cat .headphone .speaker path:nth-child(2) {
  stroke: var(--blue);
}
#bongo-cat .terminal-code,
#bongo-cat .headphone .speaker path:first-child {
  stroke: var(--cyan);
}
/* FOOTER */
body .footer {
	z-index: 2;
 	--footer-background:#ff69b4;
 	display: grid;
 	position: relative;
	grid-area: footer;
	min-height: 12rem;


}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}